In [2]:
import pandas as pd
import html5lib
import locale

In [7]:
df = pd.read_csv('/home/user/bigdata/projekt.csv')

In [8]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,24.750133,24.876706,24.182702,23.922412,12.713613,8.515395,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.158962,0.249074,0.302936,0.425262,0.688084,0.693183,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.295687,1.354389,1.369339,1.382752,1.472255,1.384496,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.484311,1.495600,1.578574,1.803972,1.624722,1.662185,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.296125,6.049173,6.124770,5.968685,6.195194,6.473848,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643654,0.685240,0.760996,0.875116,0.999349,1.166167,...,4.426908,4.588610,4.672506,4.578349,4.865850,4.700369,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,22.804551,21.797583,19.306504,18.270092,19.252223,18.708236,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.682974,4.410973,4.558612,4.600430,4.569635,4.462298,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.868611,1.469961,1.422998,1.656831,1.912090,1.837059,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.628319,5.906292,6.011269,5.823804,5.887357,5.827427,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,18.160876,18.200182,16.920954,16.862601,16.519386,16.347302,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.286723,7.555670,8.110593,7.776538,7.384032,7.360056,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.051383,3.565668,3.388226,3.646180,3.824877,3.785069,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021615,0.020868,0.022480,0.024721,0.027888,0.028030,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.751985,9.286298,9.889429,8.953622,8.284838,8.371639,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.491602,0.504357,0.535216,0.542585,0.548419,0.561654,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.130385,0.127425,0.125501,0.137283,0.158476,0.179008,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.334291,0.359054,0.395683,0.414399,0.434634,0.438736,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.772088,5.731194,5.965396,6.714882,6.142043,5.445649,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,26.538479,22.815070,23.101200,22.484702,21.810997,23.682574,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.292002,4.630520,6.829321,5.199844,5.150115,8.229959,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,5.248737,5.394822,5.547458,6.233013,5.814068,5.729428,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.623153,6.380896,6.602532,6.719672,6.680341,6.736650,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.257606,1.378374,1.676100,1.815716,1.426691,1.502201,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,9.943759,6.927723,8.784043,6.134007,6.847542,5.585037,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.378957,1.433538,1.532870,1.602046,1.835512,1.894512,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.990203,1.866522,2.113415,2.191394,2.322258,2.465870,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.844668,5.807341,5.286054,5.449494,5.222200,5.127255,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,23.950011,20.311171,20.856947,24.272670,23.800884,18.918736,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.295043,1.295189,1.329124,1.298582,1.365159,1.375733,...,2.822795,2.710689,2.825084,2.860553,2.960363,3.000114,NaN,NaN,NaN,NaN
235,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.195691,0.216865,0.220073,0.219288,0.255327,0.372893,NaN,NaN,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.859505,0.841563,0.850063,0.905331,0.994740,1.141000,...,3.936004,4.000791,3.995708,3.993368,4.107714,3.985961,NaN,NaN,NaN,NaN
237,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.176967,1.276514,1.128883,0.983562,1.715040,1.988025,NaN,NaN,NaN,NaN
238,South Asia (IDA & IBRD),TSA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.243844,0.256986,0.276990,0.292820,0.281603,0.302293,...,1.136506,1.231351,1.209366,1.275538,1.369218,1.356109,NaN,NaN,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.552164,0.563962,0.569979,0.583385,0.625067,0.677090,...,0.913481,0.878741,0.855767,0.850964,0.840849,0.826994,NaN,NaN,NaN,NaN
240,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,35.455298,33.952984,36.073741,35.137310,33.819694,34.520237,NaN,NaN,NaN,NaN
241,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.403508,2.374509,2.622539,2.437841,2.505571,2.541452,NaN,NaN,NaN,NaN
242,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.036995,3.898959,4.121155,4.364167,4.402995,4.243453,NaN,NaN,NaN,NaN
243,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.143360,0.133837,0.155682,0.171744,0.196219,0.214119,NaN,NaN,NaN,NaN
245,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.102865,0.105434,0.118253,0.124480,0.115395,0.133853,NaN,NaN,NaN,NaN
246,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.723650,5.648607,6.641350,6.267086,6.487201,5.959633,NaN,NaN,NaN,NaN
247,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.699271,1.413177,1.295358,1.290349,1.328047,1.401186,...,5.335027,5.396965,5.948925,6.367059,6.516622,6.554019,NaN,NaN,NaN,NaN
248,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,2.472148,2.401221,1.890871,2.292951,2.559638,2.231639,NaN,NaN,NaN,NaN
249,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,18.489234,17.192367,17.484803,17.019439,16.287053,16.389758,NaN,NaN,NaN,NaN
250,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.362477,3.858172,3.647049,3.874801,3.889733,3.413199,NaN,NaN,NaN,NaN
251,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.082664,2.852913,2.012697,1.811013,2.314221,1.911870,NaN,NaN,NaN,NaN
252,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,6.370396,6.295452,6.520630,6.076146,6.653708,6.128009,NaN,NaN,NaN,NaN
253,British Virgin Islands,VGB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.441914,0.433708,0.850023,0.832180,...,6.301672,6.238752,6.331007,6.307461,6.173617,6.057402,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.386218,1.568338,1.694879,1.842551,1.781697,1.700368,NaN,NaN,NaN,NaN
256,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.423112,0.524352,0.512110,0.545784,0.459305,0.420054,NaN,NaN,NaN,NaN
257,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.092462,3.062124,3.134694,3.239593,3.356407,3.435528,...,4.741168,4.631889,4.839241,4.975923,5.002299,4.995559,NaN,NaN,NaN,NaN
258,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.039490,1.072106,1.103871,1.252110,1.339448,1.251930,NaN,NaN,NaN,NaN
259,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,1.000747,1.070024,0.993225,0.811478,0.735086,0.992680,NaN,NaN,NaN,NaN
261,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,10.093949,10.061046,9.337838,9.215097,9.016499,8.859169,NaN,NaN,NaN,NaN
262,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.166369,0.187044,0.194713,0.204524,0.235347,0.250863,NaN,NaN,NaN,NaN
263,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.575777,0.607470,0.663130,0.815684,0.887956,0.924990,NaN,NaN,NaN,NaN

In [51]:
ef = pd.DataFrame()

In [52]:
ef = ef.append( df.loc[df['Country Code'] == 'CHN'] )

In [53]:
ef = ef.append( df.loc[df['Country Code'] == 'USA'] )

In [54]:
ef

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.417002,5.722912,6.554418,7.234859,7.418955,7.550916,NaN,NaN,NaN,NaN
249,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,18.489234,17.192367,17.484803,17.019439,16.287053,16.389758,NaN,NaN,NaN,NaN

In [55]:
ef = ef.drop(['Indicator Name', 'Indicator Code', '2016', '2015', '2014', 'Unnamed: 61'], axis=1)

In [56]:
ef

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
38,China,CHN,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,0.710891,0.574162,...,4.080139,4.441151,4.892727,5.153564,5.417002,5.722912,6.554418,7.234859,7.418955,7.550916
249,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,19.683581,19.610275,19.116139,19.237460,18.489234,17.192367,17.484803,17.019439,16.287053,16.389758

In [110]:
d6 = []
#ef.loc[38]['Country Name']


for i in range(len(ef.index)):
    
    col = ef.index[i]
    country_name = ef.loc[ef.index[i]][ef.columns[0]]
    for j in range(2 , len(ef.columns)):
        seged = {}
        row = ef.columns[j]
        
        seged['country_name'] = country_name
        seged['year'] = ef.columns[j]
        seged['val'] = ef.loc[col][row]
        
        #print(seged)
        
        d6.append(seged)
        

# Export to json
import json

with open('bigdata/projekt.json', 'w+') as f:
    json.dump(d6, f);